<div class="body">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link class="navbar-brand" to="/"><i class="fa fa-comments mr-5" aria-hidden="true"></i>{{ brand }}</router-link>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <template v-for="link in links">
            <router-link tag="li" active-class="active" class="nav-item" :to="{ name:link.name }" :exact="true" v-if="!link.sublinks">
              <a class="nav-link">{{ link.title }}</a>
            </router-link>
            <li class="dropdown" v-if="link.sublinks">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <template v-for="sublink in link.sublinks">
                  <router-link tag="li" active-class="active" class="nav-item" :to="{ name:sublink.name }" :exact="true" v-if="!sublink.separator && !sublink.header">
                    <a class="nav-link">{{ sublink.title }}</a>
                  </router-link>
                  <li role="separator" class="divider" v-if="sublink.separator"></li>
                  <li class="dropdown-header" v-if="sublink.header">{{ sublink.title }}</li>
                </template>
              </ul>
            </li>
          </template>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <slot></slot>
</div>
